<h1>Добро пожаловать в приложение!</h1>
<p>Это главная страница.</p>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-primary" data-url="/Students/Index">Перейти к списку учеников</button>